body {
    margin: 0;
    padding: 0;

}

.main {
    display: grid;
    place-items: center;
    height: 90vh;
}

.boxcontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.box {
    border-radius: 10px;
    background-color: #fff;
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


h2 {
    text-align: center;
    padding: 10px;
}

.container {
    height: 250px;
    width: 550px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    place-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container input {
    margin: 20px 12px;
}

.container #btn {
    padding: 5px;
    color: #fff;
    background-color: black;
    border-radius: 10px;
}

.container #show {
    padding: 5px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

/* media query */

@media (max-width:450px) {
    .boxcontainer {
        float: none;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .box {
        margin-top: 10px;
    }
}